.board-menu-header {
  display: flex;
  gap: 30px;
  /* background-color: aqua; */
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(132, 130, 130);
}

.button {
  color: white;
  background-color: black;
  padding: 10px 20px;
  font-size: 16px;
  height: 44px;
  width: 144px;
  border: none;
  outline: none;
  transition: 0.2s;
  border-radius: 6px;
  letter-spacing: 1px;
}
.button:hover {
  cursor: pointer;
  background-color: none;
  background-color: #343541;
  border: 0.05px solid rgb(132, 130, 130);
  /* color: #FC0;
    text-shadow: #FC0 2px 0 10px; */
}
.button:active {
  transform: scale(0.9);
}

.search_input {
  height: 44px;
  width: 280px;
  background-color: #343541;
  border: 0.01px solid rgb(132, 130, 130);
  border-radius: 8px;
  padding: 0 8px;
  font-size: 16px;
  outline: none;
  color: rgb(132, 130, 130);
  line-height: 33px;
}
.search_button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 3px 5px;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
}
.search_button:hover {
  cursor: pointer;
  background-color: #343541;
  border: 0.05px solid rgb(132, 130, 130);
}
.search_button:active {
  transform: scale(0.9);
}
svg path {
  fill: aliceblue;
}
svg path:hover {
    fill: white;
  }

.wrapper_input {
  position: relative;
}

.get_datas h2{
    margin: 20px 0;
    letter-spacing: 1px;
}
.card-title{
    background-color:black;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 60px;
    padding: 0 10px;
    border-bottom: 1px solid rgb(132, 130, 130) ;
}
.wrapper-btn{
    width: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: antiquewhite; */
}

.icon-btn{
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.icon-btn > svg path{
    fill: rgb(132, 130, 130) ;
}
/* .icon-btn > svg path:hover{
    fill: white;
} */
.icon-btn:hover path{
    transform: scale(1.05);
    fill: white;
}
