* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1920px;
  min-width: 1220px;
  width: 100%;
  background-color: rgb(246, 248, 250);
  min-height: 100vh;
  margin: 0 auto;
}


