

.table-member-header{
    display: flex;
    width: 100%;
    gap: 30px;
    /* justify-content: space-between; */
}
.table-member-header h3:nth-child(1){
    width: 170px;
}
.table-member-header h3:nth-child(2){
    width: 170px;
}
.table-member-header h3:nth-child(3){
    width: 300px;
}
.table-member-header h3:nth-child(4){
    width: 170px;
}
.table-member-header h3:nth-child(5){
    width: 170px;
}

